<%- include('./partials/header.ejs') %>

<div class="card mx-auto my-auto" style="width: 22rem;">
    <img src="/image/user.svg" class="card-img-top mt-1 mb-1">
    <div class="card-body">
        <form action="#" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="Enter Your E-Mail">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Enter Your Password">
            </div>
        </form>
        <a href="#" class="btn btn-primary btn-block">Login</a>
        <div>
            Don't Have Account <a href="./register">Register Here</a>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>